.outertable {
    padding: 20px;
    margin: 40px;
    border-radius: 25px; /* Smoother corners */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Soft border */
    /* background-color: #f9f9f9; Light background for contrast */
}

.btn-success{
    margin:0% 35%;
    width: 20%;
}