.categories {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 10px; 
  padding: 1rem 2rem;
   /* or another value that suits your design */
  margin: auto;
  overflow-x: hidden; /* Ensure no horizontal overflow */
}

.categories{
  display: flex;
width: 100%;
/* height: 145.438px; */
padding-right: 0px;
justify-content: center;
align-items: flex-start;
gap: 21.569px;
flex-shrink: 0;
}

/* Smaller Appliance Card Styling */


.appliance{
  display: flex;
width: 200px;
height: 100px;
/* padding: 0.951px 0.084px 0.487px 0.386px; */
justify-content: space-around;
/* padding: 0px 10px; */
align-items: center;
flex-shrink: 0;
border-radius: 21.569px;
background: linear-gradient(0deg, #FFCD20 0%, #FFCD20 100%), #FFCD20;

gap: 0px;
}

.appliance .ceilinglight {
  width: 60px; /* Reduced size */
  height: 60px; /* Reduced size */
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appliance .ceilinglight img {
  width: 100%;
  height: 100%;
 
  
}
.appliance .ceilinglight .kitchen {
  width: 55%;
  height: 55%;


}

.appliancegroup {
  display: flex;
  justify-content:end;
  align-items: center;
  gap: 5px;
}

.appliancegroup .appliancegroup-title{
  color: #3E3E3E;
text-align: right;
font-family: Urbanist;
font-size: 1rem;
font-style: normal;
font-weight: 600;
/* line-height: 1.rem; 150% */
letter-spacing: 0.05706rem;
text-transform: capitalize;
}

.custom-arrow {
  margin-bottom: 2.5px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 0.7rem; /* Reduced font size */
}

/* Media Queries for Responsiveness */

@media (max-width: 480px) {
 
  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    padding: 1rem 2rem;
    /* or another value that suits your design */
    /* margin: auto; */
    overflow-x: hidden; /* Ensure no horizontal overflow */
  }
  
  /* .categories{
    display: flex;
    width: 100%;
    padding-right: 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 21.569px;
    flex-shrink: 0;
    } */
    
    /* Smaller Appliance Card Styling */
    
    
    .appliance{
      display: flex;
  width: 100%;
  height: 80px;
  /* padding: 0.951px 0.084px 0.487px 0.386px; */
  justify-content: space-around;
  /* padding: 0px 10px; */
  align-items: center;
  flex-shrink: 0;
  border-radius: 21.569px;
  /* background: #FFD74D; */
  background: linear-gradient(0deg, #FFCD20 0%, #FFCD20 100%), #FFCD20;
  gap: 0px;
  }
  
  .appliance .ceilinglight {
    width: 40px; /* Reduced size */
    height: 40px; /* Reduced size */
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .appliance .ceilinglight img {
    width: 100%;
    height: 100%;
   
    
  }
  .appliance .ceilinglight .kitchen {
    width: 55%;
    height: 55%;
  
  
  }
  
  .appliancegroup {
    display: flex;
    justify-content:end;
    align-items: center;
    gap: 5px;
  }
  
  .appliancegroup .appliancegroup-title{
    color: #3E3E3E;
  text-align: right;
  font-family: Urbanist;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 600;
  /* line-height: 1.rem; 150% */
  letter-spacing: 0.05706rem;
  text-transform: capitalize;
  }
  
  .custom-arrow {
    margin-bottom: 2.5px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 0.7rem; /* Reduced font size */
  }
}





@media (min-width: 481px) and (max-width: 767px){
  
  .categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    padding: 1rem 2.5rem;
    /* or another value that suits your design */
    /* margin: auto; */
    overflow-x: hidden; /* Ensure no horizontal overflow */
  }
  
  /* .categories{
    display: flex;
    width: 100%;
    padding-right: 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 21.569px;
    flex-shrink: 0;
    } */
    
    /* Smaller Appliance Card Styling */
    
    
    .appliance{
      display: flex;
  width: 100%;
  height: 80px;
  /* padding: 0.951px 0.084px 0.487px 0.386px; */
  justify-content: space-around;
  /* padding: 0px 10px; */
  align-items: center;
  flex-shrink: 0;
  border-radius: 21.569px;
  /* background: #FFD74D; */
  background: linear-gradient(0deg, #FFCD20 0%, #FFCD20 100%), #FFCD20;
  gap: 0px;
  }
  
  .appliance .ceilinglight {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .appliance .ceilinglight img {
    width: 100%;
    height: 100%;
   
    
  }
  .appliance .ceilinglight .kitchen {
    width: 55%;
    height: 55%;
  
  
  }
  
  .appliancegroup {
    display: flex;
    justify-content:end;
    align-items: center;
    gap: 5px;
  }
  
  .appliancegroup .appliancegroup-title{
    color: #3E3E3E;
  text-align: right;
  font-family: Urbanist;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  /* line-height: 1.rem; 150% */
  letter-spacing: 0.05706rem;
  text-transform: capitalize;
  }
  
  .custom-arrow {
    margin-bottom: 2.5px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 0.7rem; /* Reduced font size */
  }
}





@media (min-width: 768px) and (max-width: 819px){
  .categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    place-items: center;
    gap: 10px; 
    padding: 1rem 4rem;
    /* justify-content: center; */
    /* align-items: center; */
    /* or another value that suits your design */
    /* margin: auto; */
    overflow-x: hidden; /* Ensure no horizontal overflow */
  }
  
  /* .categories{
    display: flex;
    width: 100%;
    padding-right: 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 21.569px;
    flex-shrink: 0;
    } */
    
    /* Smaller Appliance Card Styling */
    
    
    .appliance{
      display: flex;
  width: 100%;
  height: 80px;
  /* padding: 0.951px 0.084px 0.487px 0.386px; */
  justify-content: space-evenly;
  /* padding: 0px 10px; */
  align-items: center;
  flex-shrink: 0;
  border-radius: 21.569px;
  /* background: #FFD74D; */
  background: linear-gradient(0deg, #FFCD20 0%, #FFCD20 100%), #FFCD20;
  gap: 0px;
  }
  
  .appliance .ceilinglight {
    width: 35px; 
    height: 35px; 
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .appliance .ceilinglight img {
    width: 100%;
    height: 100%;
   
    
  }
  .appliance .ceilinglight .kitchen {
    width: 55%;
    height: 55%;
  
  
  }
  
  .appliancegroup {
    display: flex;
    justify-content:end;
    align-items: center;
    gap: 5px;
  }
  
  .appliancegroup .appliancegroup-title{
    color: #3E3E3E;
  text-align: right;
  font-family: Urbanist;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  /* line-height: 1.rem; 150% */
  letter-spacing: 0.05706rem;
  text-transform: capitalize;
  }
  
  .custom-arrow {
    margin-bottom: 2.5px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 0.8rem; /* Reduced font size */
  }
}


@media (min-width: 820px) and (max-width: 1023px){

  .categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    place-items: center;
    gap: 10px; 
    padding: 1rem 4rem;
    /* justify-content: center; */
    /* align-items: center; */
    /* or another value that suits your design */
    /* margin: auto; */
    overflow-x: hidden; /* Ensure no horizontal overflow */
  }
  
  /* .categories{
    display: flex;
    width: 100%;
    padding-right: 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 21.569px;
    flex-shrink: 0;
    } */
    
    /* Smaller Appliance Card Styling */
    
    
    .appliance{
      display: flex;
  width: 100%;
  height: 80px;
  /* padding: 0.951px 0.084px 0.487px 0.386px; */
  justify-content: space-evenly;
  /* padding: 0px 10px; */
  align-items: center;
  flex-shrink: 0;
  border-radius: 21.569px;
  /* background: #FFD74D; */
  background: linear-gradient(0deg, #FFCD20 0%, #FFCD20 100%), #FFCD20;
  gap: 0px;
  }
  
  .appliance .ceilinglight {
    width: 35px; 
    height: 35px; 
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .appliance .ceilinglight img {
    width: 100%;
    height: 100%;
   
    
  }
  .appliance .ceilinglight .kitchen {
    width: 55%;
    height: 55%;
  
  
  }
  
  .appliancegroup {
    display: flex;
    justify-content:end;
    align-items: center;
    gap: 5px;
  }
  
  .appliancegroup .appliancegroup-title{
    color: #3E3E3E;
  text-align: right;
  font-family: Urbanist;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  /* line-height: 1.rem; 150% */
  letter-spacing: 0.05706rem;
  text-transform: capitalize;
  }
  
  .custom-arrow {
    margin-bottom: 2.5px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 0.8rem; /* Reduced font size */
  }
}



@media (min-width: 1024px) and (max-width: 1440px){
  .categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px; 
    padding: 1rem 4rem;
    /* or another value that suits your design */
    /* margin: auto; */
    overflow-x: hidden; /* Ensure no horizontal overflow */
  }
  
  /* .categories{
    display: flex;
    width: 100%;
    padding-right: 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 21.569px;
    flex-shrink: 0;
    } */
    
    /* Smaller Appliance Card Styling */
    
    
    .appliance{
      display: flex;
  width: 100%;
  height: 80px;
  /* padding: 0.951px 0.084px 0.487px 0.386px; */
  justify-content: space-around;
  /* padding: 0px 10px; */
  align-items: center;
  flex-shrink: 0;
  border-radius: 21.569px;
  /* background: #FFD74D; */
  background: linear-gradient(0deg, #FFCD20 0%, #FFCD20 100%), #FFCD20;
  gap: 0px;
  }
  
  .appliance .ceilinglight {
    width: 35px; 
    height: 35px; 
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .appliance .ceilinglight img {
    width: 100%;
    height: 100%;
   
    
  }
  .appliance .ceilinglight .kitchen {
    width: 55%;
    height: 55%;
  
  
  }
  
  .appliancegroup {
    display: flex;
    justify-content:end;
    align-items: center;
    gap: 5px;
  }
  
  .appliancegroup .appliancegroup-title{
    color: #3E3E3E;
  text-align: right;
  font-family: Urbanist;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  /* line-height: 1.rem; 150% */
  letter-spacing: 0.05706rem;
  text-transform: capitalize;
  }
  
  .custom-arrow {
    margin-bottom: 2.5px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 0.7rem; /* Reduced font size */
  }
}
