/* Wishlist.css */

.wishlist-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px; /* Padding for the heading */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle depth effect */
    margin: 10px; /* Margin around the heading */
}
.wishlist-heading h1 {
    color: black; /* Text color */
    font-size: 24px; /* Font size for the heading */
    text-transform: uppercase; /* Uppercase text */
    margin: 0; /* Remove default margin for the heading */
  }

hr {
    border: 1px solid #ccc;
}

.wishlist-items-container {
    display: flex;
    justify-content: space-between;
}

.wishlist-card {
    border: 1px solid #ccc;
    margin: 10px;
    display: flex;
    padding: 10px;
}

.wishlist-image {
    width: 30%;
    margin-right: 20px; /* Add margin-right for gap */

}

.wishlist-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.wishlist-details {
    width: 70%;
    display: flex;
    justify-content: space-evenly; /* Adjust spacing between image and details */
    align-items: center; /* Align items vertically */
}


.wishlist-text h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.wishlist-text h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.wishlist-text p {
    font-size: 14px;
    margin-bottom: 5px;
}

.delete-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button button:hover {
    background-color: #cc0000;
}

.empty-wishlist-image-container
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* padding-left: 150px; */
}
.empty-wishlist-image-container h1{
    text-align: center;
}
.empty-wishlist-image-container img
{
    width: 80%;
}
.buy-now-wishlist{
    background-color: green;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.wishlist-actions button { 
  margin-right: 10px;
  margin-top: 10px;

}
@media(max-width:581px){
    .wishlist-actions button
    {
        display: block;
        margin-bottom: 10px;
    }
    .buy-now-wishlist
    {
        margin-left: 12px;
    }
    .empty-wishlist-image-container
{
    padding: 10px;
    display: flex;
    margin: 0 auto;
    /* padding-left: 70px; */
}
.empty-wishlist-image-container h1{
    font-size: 20px;
}
}